<html>
<head>
    <title>JasuWeb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../../bootstrap.css">
</head>
<body>
	
	<nav class="navbar navbar-inverse" style="border-radius: 0;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">JasuWeb</a>
            <ul class="nav navbar-nav navbar-right">
            	<li><a href="/profile">Profile</a></li>
            	<li><a href="/logout">Log out</a></li>
          	</ul>
        </div>
    </nav>

    <div class="container">
    	<div class="jumbotron text-center">
    		<h1><%= group.name %></h1>
    		<h2>Upload:</h2>
    		<% if (message) { %>
        		<p><%= message %></p>
        	<% } %>
    		<form class="form-signin" action="/profile/group/<%= group.id %>/upload" method="POST" enctype="multipart/form-data">
        		<input type="file" name="fileUpload" class="form-control">
        		<div class="container-fluid">
        			<button class="btn btn-lg btn-primary btn-block" type="submit">Upload</button>
      			</div>
      		</form>
    		<h2>Downloads:</h2>
    		<% for (var i=0; i<files.length; i++) { %>
   				<a style="font-size: 130%;" href="/profile/group/<%= group.id %>/download/<%= files[i] %>"><%= files[i] %></a></br>
			<% } %>
    	</div>
    </div>

</div>
</body>
</html>