<html>
<head>
    <title>JasuBot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../bootstrap.css">
</head>
<body>
	
	<nav class="navbar navbar-inverse" style="border-radius: 0;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">JasuWeb</a>
            <ul class="nav navbar-nav navbar-right">
            	<li><a href="/profile">Profile</a></li>
            	<li><a href="/logout">Log out</a></li>
          	</ul>
        </div>
    </nav>
    <p><%= message %></p>
    <div class="container">
        <h1>Group name: <%= group.name %></h1>
        <h2>Members:</h2>
        <ul style="list-style-type: none;">
            <% for (var i=0; i<users.length; i++) { %>
                <li><%= users[i].facebook.familyName %> <%= users[i].facebook.givenName %> <a href="#">Add</a></li><br>
            <% } %>
        </ul>
    </div>

    <div class="container">
    	<div class="jumbotron text-center">
    		<h2>Other users:</h2>
			<ul style="list-style-type: none;">
				<% for (var i=0; i<users.length; i++) { %>
   					<li><%= users[i].facebook.familyName %> <%= users[i].facebook.givenName %> <a href="#">Remove</a></li><br>
				<% } %>
			</ul>
    	</div>
    </div>

</div>
</body>
</html>